@import '../../global.scss';

.projects {
  grid-area: projects;
  width: 100%;
  padding: 1rem 0 1rem 0;
  
  .project-list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .list-item {
      font-weight: 700;
      cursor: pointer;
      padding: 1rem;
      border-radius: $border-radius;
      transition: background-color 0.4s linear;

      &.current {
        background-color: $accent;
        color: $highlight;
      }
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
  }
}