@import '../../global.scss';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

.project {
  display: grid;
  grid-area: project;
  justify-content: space-between;
  grid-template: 
  ' motivation code-sample visual technologies ' 1fr
  ' motivation code-sample visual links ' 1fr
  ' . positive negative . ' minmax(min-content, 0.5fr) / 0.8fr 1fr 1fr 0.8fr ;
  overflow: auto;

  @media only screen and (max-width: 1200px) {
    grid-template: 
    ' motivation technologies 'auto
    ' code-sample visual ' auto
    ' positive negative ' auto / 1fr 1fr;
  }

  @media only screen and (max-width: 900px) {
    grid-template: 
    ' motivation' auto
    ' technologies ' auto
    ' code-sample  ' auto
    ' visual ' auto
    ' positive ' auto
    ' negative ' auto / 1fr;
    grid-gap: none;
  }

  .title-wrapper { 
    .title, svg {
      display: inline-block;
      vertical-align: middle;   
      margin-right: 0.5rem;
    }

    svg {
      path {
      fill: $highlight;
      stroke: $accent;
      }
    }
  }

  .motivation {
    grid-area: motivation;
  }

  .code-sample {
    grid-area: code-sample;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    .code-block-wrapper {
      overflow: auto;
      code {
        font-family: 'Source Code Pro', monospace;
      }
    }
  }

  .visual {
    grid-area: visual;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
    .visual-wrapper {
      overflow: auto;
    }
  }

  .technologies {
    grid-area: technologies;
  }

  .positive {
    grid-area: positive;
    align-self: flex-start;
  }

  .negative {
    grid-area: negative;
    align-self: flex-start;
  }
}