@import '../../global.scss';

.header {
  grid-area: header;
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 2rem;

  h1, a {
    color: $secondary-text;
    padding-right: 1rem;
  }

  svg {
    margin-right: 0.4rem;
    path {
      fill: $highlight;
    }
  }


}