// $primary-text: #00241b;
// $secondary-text: #b5ffe1;

// $primary-color: #4e878c;
// $secondary-color: #65b891;
// $highligh-color: #93e5ab;


$background-secondary: #bcd8c1;
$background-primary: white;
$accent: #007991;

$primary-text: #222e50;
$secondary-text: white;
$highlight: #e9d985;
$highlight-dark: #439a86;

$border-radius: 0.4rem;